<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>Food on the Move</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css">

    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<body>
<div class="container">
    <div class="input-group"> <span class="input-group-addon">Filter</span>

        <input id="filter" type="text" class="form-control" placeholder="Type here...">
    </div>
    <div class ="panel panel-default">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class='col-xs-5'>Name</th>
                <th class='col-xs-5'>Username</th>
                <th class='col-xs-2'>Paying</th>
            </tr>
        </thead>
        <tbody class="searchable">
        </tbody>
    </table>
    </div>


</div>
<div class="col-md-12 text-center">
    <ul class="pagination" id="myPager"></ul>
</div>

<script type="text/javascript" src="{% static "foodonthemove/index.js" %}">
</script>

</body>
</html>