<html>
<head>
    {% load staticfiles %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Food on the Move</title>
 
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
         href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{% static "foodonthemove/my.css" %}">
 
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" language="javascript"
           src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript"
           src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
        <script type="text/javascript" src="{% static "foodonthemove/easy-wizard.js" %}"></script>

</head>
<body>
<div class="container">
    <div class="text-center">
        <img src="{% static "foodonthemove/food_on_the_move.png" %}">
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">

        <div style="padding-bottom: 10px">
            <!--                <form action="/" id="register" method="post">-->
            <!--                    <div class='row'>-->
            <!--                        <div class='col-xs-12 col-md-6 col-lg-offset-3 form-group required'>-->
            <!--                            <label class='control-label'>First Name</label>-->
            <!--                            <input class='form-control' size='4' type='text'>-->
            <!--                        </div>-->
            <!--                        <div class='col-xs-12 col-md-6 col-lg-offset-3 form-group required'>-->
            <!--                            <label class="control-label">Last Name</label>-->
            <!--                            <input class="form-control" size="4" type="text">-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class='row'>-->
            <!--                        <div class='col-xs-12 col-md-6 col-lg-offset-3 form-group required'>-->
            <!--                            <label class='control-label'>Zip Code</label>-->
            <!--                            <input autocomplete='off' class='form-control' size='20' type='text'>-->
            <!--                        </div>-->
            <!--                        <div class="col-xs-12 col-md-6 col-lg-offset-3 form-group required">-->
            <!--                            <label class="control-label">Number of people</label>-->
            <!--                            <select class="form-control">-->
            <!--                                <option value="1">1</option>-->
            <!--                                <option value="2">2</option>-->
            <!--                                <option value="3">3</option>-->
            <!--                                <option value="4">4</option>-->
            <!--                                <option value="5">5</option>-->
            <!--                                <option value="6">6</option>-->
            <!--                            </select>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class="row">-->
            <!--                        <div class="col-xs-12 col-md-6 col-md-offset-3">-->
            <!--                                    <label class="radio-inline">-->
            <!--                                        <input type="radio" name="payment" id="#payment1" value="1"> I can pay-->
            <!--                                    </label>-->
            <!--                        <label class="radio-inline">-->
            <!--                            <input type="radio" name="payment" id="inlineRadio2" value="2"> Not today-->
            <!--                        </label>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class="row" >-->
            <!--                        <div class="col-xs-12 col-md-6 col-md-offset-3 form-group">-->
            <!--                            <input autocomplete="off" class="form-control">-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class="cetol-md-6 col-md-offset-3">-->
            <!--                        <input class="btn btn-info btn-block" value="Register">-->
            <!--                    </div>-->
            <!--                    </form>-->
            <form id="myWizard" method="POST" action="{% url 'register' %}" class="form-horizontal">{% csrf_token %}
                <section class="step" data-step-title="Name">
                    <div class="col-md-12"><h4 class="text-center" style="padding-bottom: 15px">We'd like to get to know
                            you, can we get some contact information?</h4></div>
                    <div class="col-xs-12 col-md-6 col-md-offset-3">
                        <div class="control-group form-group">
                            <label class="control-label" for="inputFirstname">First Name*</label>
 
                            <div class="controls">
                                <input type="text" id="inputFirstname" name="inputFirstname" placeholder="First Name"
                                      class="input-xlarge form-control" required="required">
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <label class="control-label" for="inputLastname">Last Name*</label>
 
                            <div class="controls">
                                <input type="text" name="inputLastname" id="inputLastname" placeholder="Last Name"
                                      class="input-xlarge form-control" required="required">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="step" data-step-title="User Profile">
<!--                    <div class="row">-->
                        <h4 class="text-left">Create a username*</h4>
<!--                    </div>-->
<!--                    <div class="row">-->
                    <div class="col-xs-12 col-md-6 col-md-offset-3">
                        <div class="control-group form-group" style="">
                            <label class="radio-inline control-label" for="inputUser">
                                <div id="usernameChoice" class="controls">
                                    <input type="radio" required="required" name="userType" class="payment" id="useEmail" value="0">
                                                                        Use my email
                                </div>
                            </label>
                        </div>
                        <div class="control-group form-group" style="">
                            <label class="radio-inline control-label" for="inputUser">
                                <div id="usernameChoice" class="controls">
                                                                        <input type="radio" required="required" name="userType" class="payment" id="useEmail" value="1">
                                                                        Use my phone number
                                </div>
                            </label>
                        </div>
                        <div class="control-group form-group">
                            <label class="radio-inline control-label" for="inputUser">
                            <div id="usernameChoice" class="controls">
                                                                <input type="radio" name="userType" required="required" class="payment" id="useCustom" value="2" >
                                                                Use a custom username
                            </div>
                        </div>
                                                <div class="control-group form-group" id="customUsername" style="display:none;">
                            <label class="radio-inline control-label" for="inputUser">
 
                            <div class="controls">
                                                                <input type="text" id="usernameValue" name="username" class="input-xlarge form-control" placeholder="Username*">
                            </div>

                        </div>


<!--                    </div>-->
                    </div>
                        <h4 class="text-left">Create a password*</h4>
                        <div class="col-xs-12 col-md-6 col-md-offset-3">

                            <div class="control-group form-group">
                                <label class="control-label" for="passwordId">Enter Password</label>
                                <div class="controls">
                                    <input type="password" name="passwordValue" required="required" class="passwordClass" id="passwordId">
                                </div>
                            </div>

                      <div class="control-group form-group">
                            <label class="control-label" for="passwordConfirmId">Confirm Password</label>
                            <div class="controls">
                                <input type="password" name="passwordConfirmValue" required="required" class="passwordClass" id="passwordConfirmId">
                            </div>
                      </div>

                </section>
                <section class="step" data-step-title="Info">
<!--                    <div class="row">-->
                        <div class="col-xs-12 col-md-6 col-md-offset-3">
                            <div class="control-group form-group">
                                <label class="control-label" for="inputEmail">Email</label>
 
                                <div class="controls">
                                    <input type="email" id="inputEmail" name="emailValue" placeholder="example@gmail.com"
                                          class="input-xlarge form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-xs-12 col-md-4 col-md-offset-3">
                            <div class="" style="padding-left: 0px;">
                                <div class="control-group form-group">
                                    <label class="control-label" for="inputPhone">Phone Number</label>
 
                                    <div class="controls">
                                        <input type="tel" name="phoneNumber" id="inputPhone" placeholder=""
                                              class="input-xlarge form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="col-xs-12 col-md-2">
                                <div class="control-group form-group">
                                    <label class="control-label" for="inputZip">Zip Code</label>
                                    <div class="controls">
                                        <input type="text" name="zipCode" id="inputZip" placeholder="#####"
                                              class="input-xlarge form-control">
                                    </div>
                                </div>
                            </div>
<!--                        </div>-->
<!--                    <div class="row">-->
<!--                    <section class="step" data-step-title="Contact">-->
                        <h4 class="text-center" style="padding-bottom: 15px">What is the best way for us to keep in touch?</h4>
                        <div class="col-xs-12 col-md-6 col-md-offset-3">
                            <div class="checkbox">
                                <label>
                                    <input name="contactEmail" type="checkbox">
                                    Send me an email
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="contactCall" type="checkbox">
                                    Give me a call
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="contactText" type="checkbox">
                                    Send me a text
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="contactNo" type="checkbox">
                                    Thanks, but please don't contact me
                                </label>
                            </div>
                        </div>
<!--                    </section>-->
 
<!--                    </div>-->
 
        </section>
        <section class="step" data-step-title="Complete">
<!--            <div class="row">-->
            <div class="col-md-12"> <h4>Can you pay? (suggested meal price $6/person)</h4></div>
 
                <div class="col-xs-12 col-xs-offset-1 col-md-6 col-md-offset-3">
                    <div class="control-group form-group" style="">
                        <label class="control-label" for="inputPayment">
                            <div class="controls">
                                <input type="radio" name="inputPayment" class="payment" id="payment1" value="1">
                                Yes
                            </div>
                        </label>
                    </div>
                    <div class="control-group form-group" style="">
                        <label class="control-label" for="inputPayment">
                            <div class="controls">
                                <input type="radio" name="inputPayment" class="payment" id="payment2" value="0">
                                Not
                                today
                            </div>
                        </label>
                    </div>
                </div>
<!--            </div>-->
 
            <div class="col-xs-12 col-md-12"> <h4>How many meals?</h4></div>
            <div class="col-xs-12 col-md-4 col-md-offset-1">
                <div class="control-group">
                <select class="form-control" name="inputMeals">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                </div>
                <div class="control-group" id="amount" style="display: none">
                        <div class="control-group form-group">
                            <label class="control-label" for="inputLastname"></label>
 
                            <div class="controls">
                                <input id="inputAmount" name="inputAmount" placeholder="$ 0.00" class="form-control">
                            </div>
                        </div>
<!--                        <div class="controls">-->
<!--                            <input type="text" id="inputAmount" name="inputAmount" placeholder="$ 0.00" class="form-control">-->
<!--                        </div>-->
                </div>
<!--            </div>-->
<!--            <div class="col-md-7"></div>-->
<!--            <div class="col-xs-12 col-md-4 col-md-offset-1">-->
 
            </div>
        </section>

        </form>
    </div>
</div>
</div>
 
 
<script type="text/javascript">
    // For demo to fit into DataTables site builder...
    //    $('#example')
    //        .removeClass('display')
    //        .addClass('table table-striped table-bordered');
 
    $('#myWizard').easyWizard({
//        showSteps: false
    });
    $(document).ready(function () {
        $("input[name=inputPayment]:radio").change(function () {
            if ($("#payment1").is(":checked")) {
                $('#amount').show("slow");
            }
            else {
                $('#amount').hide("slow");
            }
        });
                $("input[name^=userType]:radio").change(function() {
                        if ($("#useCustom").is(":checked")) {
                                var nameField = $("#customUsername");
                                nameField.prop('required', true);
                                nameField.show();
                        }
                        else {
                                var nameField = $("#customUsername");
                                nameField.prop('required', false);
                                $("#customUsername").hide();
                        }
                });
                function chooseRadios() {
                        $("input[name=contactType]").each(function() {
                                if ($(this).is(":checked")) {
                                        if ($(this).val() == -1) {
                                                $("input[name=contactType]").each(function() {
                                                        if ($(this).val() != -1) {
                                                                $(this).prop("checked", false);
                                                        }
                                                });
                                        }
                                        else {
                                                $("input[name=contactType]").each(function() {
                                                        if ($(this).val() == -1) {
                                                                $(this).prop("checked", false);
                                                        }
                                                });
                                        }
                                }
                        });
                };
                $("input[name=contactType]").change(chooseRadios());
                $("div#usernameChoice").click(function() {
                        var currentChoice = $(this).find("input[name=userType]").prop('checked', 'checked');
                        chooseRadios();
                });
    });
 
    //
    //        $('#payment1').on('click'(function() {
    //            if($("#payment1").attr('checked', 'checked')) {
    //                $('#amount').show("slow");
    //                }
    //            else {
    //                $('#amount').hide("slow");
    //            }
    //        });
</script>
</body>
</html>